---
import fs from 'fs';
import path from 'path';
import { marked } from 'marked';
import { fileURLToPath } from 'url';
import '../styles/global.scss';
import BaseLayout from '../layouts/MainLayout.astro';

const currentFileName: string = fileURLToPath(import.meta.url);
const currentDirName: string = path.dirname(currentFileName);
const readmePath: string = path.join(currentDirName, '../../../README.md');
let readmeContent: string = fs.readFileSync(readmePath, 'utf-8');

const startMarker: string = '<!-- START_WEBSITE -->';
const endMarker: string = '<!-- END_WEBSITE -->';
const startIndex: number = readmeContent.indexOf(startMarker);
const endIndex: number = readmeContent.indexOf(endMarker);

if (startIndex >= 0 && endIndex >= 0) {
    readmeContent = readmeContent.slice(startIndex + startMarker.length, endIndex).trim();
}

// Convert Markdown to HTML
const readmeHtml: string | Promise<string> = marked(readmeContent);

export const frontmatter = {
    title: 'Home',
    order: 0
};
---

<BaseLayout>
    <div class="readme-content" set:html={readmeHtml}></div>
</BaseLayout>