---
import '../styles/global.scss';
import favicon from '@branding/favicon.svg';
import TopMenu from "../components/TopMenu.astro";
import {REPOSITORY_URL} from "../config";
---

<!-- data-theme currently only used by Mermaid -->
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href={favicon.src}/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator}/>
    <title>Backity</title>
</head>
<body>
<TopMenu/>

<div class="content">
    <slot/>
</div>

<footer>
    This site uses <a href="https://astro.build/" target="_blank">Astro JS</a> via GitHub Pages
    and is stored in the <a href={REPOSITORY_URL}>project repository</a> under the <code>website</code> folder.
    <br>
    You can contribute to it by creating a Pull Request, just like you would with any other part of this project.
</footer>
</body>
</html>

<style lang="scss">
  @use "../styles/scss_vars.scss" as *;

  $breakpoint-nav: $breakpoint-lg;

  .content {
    @media (min-width: $breakpoint-nav) {
      margin-top: calc(var(--spacer) * 2);
    }
  }
</style>
