<app-page-header title="Game providers">
  Here you can authenticate with every game provider, as well as manage content discovery.
</app-page-header>

<app-section>
  <app-auto-layout>
    <app-gog-auth [overview]="getGogOverview()" [externalDataIsLoading]="infoIsLoading"/>
  </app-auto-layout>
</app-section>

<app-section>
  <app-loaded-content [isLoading]="infoIsLoading">
    <div class="button-container">
      @let state = {
        unknown: anyDiscoveryStatusIsUnknown(),
        ongoing: discoveryOngoing()
      };
      <app-button [actionAsync]="onClickStartGameContentDiscovery()"
                  testId="start-game-content-discovery-btn"
                  [disabled]="state.unknown || state.ongoing"
                  buttonClass="mt-2 me-1">
        Start every discovery
      </app-button>

      <app-button [actionAsync]="onClickStopGameContentDiscovery()"
                  testId="stop-game-content-discovery-btn"
                  [disabled]="state.unknown || !state.ongoing"
                  buttonClass="mt-2 me-1">
        Stop every discovery
      </app-button>
    </div>
  </app-loaded-content>
</app-section>

