<app-page-header title="Game providers">
  Here you can authenticate with every game provider, as well as manage content discovery.
</app-page-header>

<app-section>
  <app-gog-auth [overview]="getGogOverview()" [externalDataIsLoading]="infoIsLoading"/>
</app-section>

<app-section>
  <app-loaded-content [isLoading]="infoIsLoading">
    <div class="button-container">
      <ng-container *ngIf="{
        unknown: anyDiscoveryStatusIsUnknown(),
        ongoing: discoveryOngoing()
      } as state">
        <app-button [actionAsync]="onClickStartDiscovery()"
                    testId="start-game-content-discovery-btn"
                    [disabled]="state.unknown || state.ongoing"
                    buttonClass="mt-2 me-1">
          Start discovery
        </app-button>

        <app-button [actionAsync]="onClickStopDiscovery()"
                    testId="stop-game-content-discovery-btn"
                    [disabled]="state.unknown || !state.ongoing"
                    buttonClass="mt-2 me-1">
          Stop discovery
        </app-button>
      </ng-container>
    </div>
  </app-loaded-content>
</app-section>

