<div
  class="form-input-wrapper"
  [class.form-floating]="floating()"
  [class.input-icon-wrapper]="!!iconClass()">
  @if (iconClass()) {
    <i class="input-icon" [ngClass]="iconClass()" aria-hidden="true"></i>
  }
  <input [attr.data-testid]="testId()"
         [type]="type()"
         [id]="id()"
         [placeholder]="placeholder()"
         [disabled]="disabled()"
         (blur)="onTouched()"
         [value]="value"
         (input)="onInput($event)"
         [attr.aria-invalid]="ngControl?.invalid && (ngControl?.dirty || ngControl?.touched)"
         [attr.aria-describedby]="(ngControl?.invalid && (ngControl?.dirty || ngControl?.touched)) ? id() + '-error' : null"
         [ngClass]="{
         'form-control': true,
         'is-invalid': ngControl?.invalid && (ngControl?.dirty || ngControl?.touched)
         }">
  @if (floating()) {
    <label [for]="id()"><!--/* //NOSONAR */-->
      <ng-content/>
    </label>
  }

  @if (ngControl?.invalid && (ngControl?.dirty || ngControl?.touched)) {
    <div [id]="id() + '-error'" class="invalid-feedback" aria-live="polite">
      @if (ngControl?.errors?.['required']) {
        <div>Must not be empty</div>
      }
      @if (ngControl?.errors?.['email']) {
        <div>Please enter a valid email address</div>
      }
      @if (ngControl?.errors?.['minlength']) {
        <div>Minimum length is {{ ngControl?.errors?.['minlength'].requiredLength }} characters</div>
      }
      @if (ngControl?.errors?.['maxlength']) {
        <div>Maximum length is {{ ngControl?.errors?.['maxlength'].requiredLength }} characters</div>
      }
      @if (ngControl?.errors?.['pattern']) {
        <div>Invalid format</div>
      }
    </div>
  }
</div>
