<div class="form-floating">
  <input [attr.data-testid]="testId"
         [type]="type"
         [id]="id"
         [placeholder]="placeholder"
         [disabled]="disabled"
         (blur)="onTouched()"
         [value]="value"
         (input)="onInput($event)"
         [ngClass]="{
         'form-control': true,
         'is-invalid': ngControl.invalid && (ngControl.dirty || !ngControl.untouched)
         }">
  <label [for]="id"><!--/* //NOSONAR */-->
    <ng-content/>
  </label>
  <div *ngIf="ngControl.errors?.['required']" class="invalid-feedback">
    Must not be empty
  </div>
  <div *ngIf="ngControl.errors?.['email']" class="invalid-feedback">
    Please enter a valid email address
  </div>
  <div *ngIf="ngControl.errors?.['minlength']" class="invalid-feedback">
    Minimum length is {{ ngControl.errors?.['minlength'].requiredLength }} characters
  </div>
  <div *ngIf="ngControl.errors?.['maxlength']" class="invalid-feedback">
    Maximum length is {{ ngControl.errors?.['maxlength'].requiredLength }} characters
  </div>
  <div *ngIf="ngControl.errors?.['pattern']" class="invalid-feedback">
    Invalid format
  </div>
</div>
