<app-page-header title="Queue">
  Here you can manage the download queue
</app-page-header>

<app-section>
  <app-loaded-content [isLoading]="fileCopiesAreLoading">
    <app-auto-layout>
      <div class="button-container">
        <app-button [actionAsync]="refreshAction"
          [disabled]="fileCopiesAreLoading"
          title="Refresh"
          buttonClass="btn-icon-only"
          testId="refresh-queue-btn" buttonStyle="secondary">
          <i class="bi bi-arrow-clockwise"></i>
        </app-button>
      </div>
      @if ((fileCopyWithContextPage?.content?.length ?? 0) < 1) {
        Queue is empty.
      }

      @for (fileCopyWithContext of fileCopyWithContextPage?.content; track fileCopyWithContext) {
        <app-icon-item iconClass="bi bi-copy">
          <ng-container title>
            {{ fileCopyWithContext.backupTarget.name }}
            <app-storage-solution-status-badge
              [status]="getStorageSolutionStatus(fileCopyWithContext.backupTarget.storageSolutionId)"/>
            </ng-container>
            <ng-container descriptor>
              <app-file-copy-status-badge [status]="fileCopyWithContext.fileCopy.status"/>
            </ng-container>
            <ng-container buttons>
              @if (fileCopyWithContext.progress) {
                <app-progress-bar
                  [percentage]="fileCopyWithContext.progress.percentage"/>
              }
              <app-button [actionAsync]="onClickCancelBackup(fileCopyWithContext)" buttonStyle="primary">
                Cancel
              </app-button>
            </ng-container>
            <ng-container details>
              <app-named-value-container>
                <app-named-value>
                  <ng-container name>Game</ng-container>
                  <ng-container value>
                    {{ fileCopyWithContext.game.title }}
                  </ng-container>
                </app-named-value>
                <app-named-value>
                  <ng-container name>File title</ng-container>
                  <ng-container value>
                    {{ fileCopyWithContext.gameFile.fileSource.fileTitle }}
                    <app-game-file-version-badge [version]="fileCopyWithContext.gameFile.fileSource.version"/>
                  </ng-container>
                </app-named-value>
                <app-named-value>
                  <ng-container name>Size</ng-container>
                  <ng-container value>
                    {{ fileCopyWithContext.gameFile.fileSource.size }}
                  </ng-container>
                </app-named-value>
                @if (fileCopyWithContext.progress) {
                  <app-named-value>
                    <ng-container name>Time left</ng-container>
                    <ng-container value>
                      {{ (fileCopyWithContext.progress.timeLeftSeconds! * 1000) | date:'H:mm:ss':'UTC' }}
                    </ng-container>
                  </app-named-value>
                }
              </app-named-value-container>
            </ng-container>
          </app-icon-item>
        }

        <app-pagination pageSizeQueryParamName="enqueued-file-copies-page-size"
          pageNumberQueryParamName="enqueued-file-copies-page"
          [disabled]="fileCopiesAreLoading"
          [currentPage]="fileCopyWithContextPage"
          [(pageNumber)]="pageNumber"
          [(pageSize)]="pageSize"
          (onPageChange)="refresh()"/>
        </app-auto-layout>
      </app-loaded-content>
    </app-section>
