<button [type]="buttonType"
  [attr.ngbAutofocus]="ngbAutofocus"
  [disabled]="isLoading || disabled"
  [ngClass]="['btn', getButtonStyle(), getSizeClass(), buttonClass]"
  [attr.data-testid]="testId"
  [attr.title]="title"
  [attr.aria-label]="title"
  (click)="onClick()">
  <span [ngClass]="isLoading ? 'btn-text-hidden' : ''">
    <ng-content></ng-content>
  </span>
  @if (isLoading) {
    <span class="btn-loader-center">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><!--/* //NOSONAR */-->
    </span>
  }
</button>
