@import "bootstrap/basics";

@mixin gutters-variant($gutter-size) {
  display: flex;
  flex-wrap: wrap;
  margin: -(calc($gutter-size / 2));

  > * {
    padding: calc($gutter-size / 2);
  }
}

@each $index, $value in $spacers {
  .gutters-#{$index} {
    @include gutters-variant($value);
  }
}
