@use "sass:map";
@use "bootstrap/basics" as basics;
@use "./gutters" as custom-gutters;

@mixin responsive-container($child-element) {
  @include custom-gutters.gutters-variant(map.get(basics.$spacers, 1));
  @media (max-width: map.get(basics.$grid-breakpoints, sm) - 1) {
    flex-direction: column;
    > * {
      flex-grow: 1;
    }
    #{$child-element} {
      width: 100%;
    }
  }
}

.button-container {
  @include responsive-container(button);
}

.badge-container {
  @include responsive-container('.badge');
}
