<div class="card">
  <div class="card-body">
    <h1 class="card-title">File discovery</h1>

    <p>
      Here you can manage all of the new files that have been found but have not yet been scheduled for download.
    </p>

    <p>
      <button class="btn btn-primary me-3" (click)="discoverFiles()">Discover new files</button>
      <button class="btn btn-primary" (click)="refresh()">Refresh</button>
    </p>

    <div *ngFor="let file of discoveredFiles">
      {{file.gameTitle}}
      -
      {{file.name}}
      ({{file.size}})
    </div>
  </div>
</div>
