<app-card cardTitle="Discovered files">
  <app-loaded-content [isLoading]="filesAreLoading">
    <div class="button-container mb-3">
      <app-button [actionAsync]="onClickRefreshDiscoveredFiles()"
                  [disabled]="filesAreLoading"
                  testId="refresh-discovered-files-btn"
                  buttonStyle="secondary">
        Refresh
      </app-button>
    </div>

    <app-table [content]="filePage?.content" [isLoading]="filesAreLoading" [testId]="'discovered-file-copies-table'">
      <ng-template app-table-column="File path" let-item>
        {{ asFileCopy(item).filePath }}
      </ng-template>
      <ng-template app-table-column="Game file id" let-item>
        {{ asFileCopy(item).naturalId.gameFileId }}
      </ng-template>
      <ng-template app-table-column="Backup target id" let-item>
        {{ asFileCopy(item).naturalId.backupTargetId }}
      </ng-template>
      <ng-template app-table-column="Actions"
                   hide-title-on-mobile
                   let-item>
        <div class="button-container justify-content-end">
          <ng-container *ngFor="let fileCopy of [asFileCopy(item)]">
            <app-button [actionAsync]="onClickEnqueueFile(fileCopy)"
                        [disabled]="fileCopy.status != FileCopyStatus.Discovered"
                        testId="back-up-btn">
              Back up
            </app-button>
          </ng-container>
        </div>
      </ng-template>
    </app-table>
    <app-pagination [disabled]="filesAreLoading"
                    [currentPage]="filePage"
                    [(pageNumber)]="pageNumber"
                    [(pageSize)]="pageSize"
                    (onPageChange)="refreshDiscoveredFiles()"/>
  </app-loaded-content>
</app-card>
