@import "src/scss/bootstrap/basics";

:host {
  display: block;
  margin-top: map_get($spacers, 3);
  text-align: center;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: map_get($spacers, 3);

  > * {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: map_get($spacers, 3);

    > * {
      display: flex;
      justify-content: center;
    }
  }

  .elements-per-page, .pagination-options {
    flex-grow: 999;
  }
  .elements-per-page {
    .form-floating {
      width: 100%;
      min-width: 10rem;
    }
  }

  .page-container {
    margin: 0 map_get($spacers, 3);
    display: flex;
    align-items: center;
  }

  .page-editable {
    display: none;
  }
  .page-text {
    display: inline-block;
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    > * {
      flex-grow: 0;
      justify-content: flex-start;
    }
    .elements-per-page {
      flex-grow: 0;
    }
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    .page-editable, .page-editable label {
      display: flex;
      align-items: center;
      gap: map_get($spacers, 2);

      input {
        width: 4rem;
      }
    }
    .page-text {
      display: none;
    }
  }
}
