@import "./color_schemes/dark";

$yellow-000: #fff3cd;
$yellow-100: #ffe082;
$yellow-200: #ffc107;
$yellow-300: #ffc107ff;

$link-color: $yellow-200;
$btn-primary-color: $yellow-300;

// Sidebar status colors and icons for ADRs
$statuses: (
        accepted: (
                color: $green-100
        ),
        superseded: (
                color: $yellow-300
        ),
        deprecated: (
                color: $red-300
        )
);

.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
  color: $yellow-300 !important;
}

@each $status, $props in $statuses {
  $color: map-get($props, color);

  .nav-list .nav-list-item > .nav-list .nav-list-item:has(> .nav-list-link[href*="/statuses/#{$status}"]) {

    > .nav-list-link {
      color: $color !important;
    }

    .nav-list-link {
      color: $color !important;
    }
  }
}