<app-card>
  <app-loaded-content [isLoading]="infoIsLoading">
    <div class="badge-container">
      <ng-container *ngFor="let status of getStatuses()">
        <app-game-content-discovery-status-badge [status]="status"></app-game-content-discovery-status-badge>
      </ng-container>
    </div>
    <div class="badge-container">
      <app-new-discovered-files-badge [newDiscoveredCount]="newDiscoveredFilesCount"
                                      [newestDiscovered]="newestDiscoveredFile!">
      </app-new-discovered-files-badge>
    </div>

    <div class="button-container">
      <app-button [actionAsync]="onClickStartDiscovery()"
                  testId="start-game-content-discovery-btn"
                  [disabled]="discoveryStateUnknown || discoveryOngoing()"
                  buttonClass="mt-2 me-1">
        Start discovery
      </app-button>

      <app-button [actionAsync]="onClickStopDiscovery()"
                  testId="stop-game-content-discovery-btn"
                  [disabled]="discoveryStateUnknown || !discoveryOngoing()"
                  buttonClass="mt-2 me-1">
        Stop discovery
      </app-button>
    </div>

    <div class="button-container">
      <div *ngFor="let status of getStatuses()">
        <app-button [actionAsync]="onClickDiscoverFilesFor(status.gameProviderId)"
                    testId="discover-new-files-gog-btn"
                    [disabled]="discoveryStateUnknown || discoveryOngoing()"
                    buttonStyle="secondary"
                    buttonSize="small"
                    buttonClass="mt-2 me-3">
          Start discovery for {{ status.gameProviderId }}
        </app-button>
      </div>
    </div>

    <hr *ngIf="discoveryOngoing()">
    <ng-container *ngFor="let progress of getProgressList()">
      <div class="mt-2" *ngIf="isInProgress(progress.gameProviderId!)">
        {{ progress.gameProviderId }}
        (time left: {{ (progress.timeLeftSeconds! * 1000) | date:'H:mm:ss':'UTC' }}):
        <div class="progress">
          <!--/* //NOSONAR */--><div
          aria-valuemax="100" aria-valuemin="0" [attr.aria-valuenow]="progress.percentage"
          class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          [ngStyle]="{width: progress.percentage + '%'}">{{ progress.percentage + '%' }}
        </div>
        </div>
      </div>
    </ng-container>
  </app-loaded-content>
</app-card>
