<app-icon-item iconClass="bi bi-puzzle">
  <ng-container title>
    GOG
  </ng-container>
  <ng-container descriptor>
    <app-loaded-content [isLoading]="isLoading()">
      <ng-container placeholder>
        <app-loading-placeholder [widths]="['6rem']"/>
      </ng-container>

      <div data-testid="gog-auth-status"
        aria-live="polite"
        [ngClass]="{'text-primary': gogAuthenticated, 'text-danger-emphasis': !gogAuthenticated}">
        <i class="me-1"
           [ngClass]="{
           'bi bi-check-circle': gogAuthenticated && !overview?.progress,
           'bi bi-x-circle': !gogAuthenticated && !overview?.progress,
           'bi bi-hourglass': overview?.progress
           }"
          aria-hidden="true">
        </i>
        @if (overview?.progress) {
          Discovering...
        }
        @if (!overview?.progress) {
          @if (gogAuthenticated) {
            Authenticated
          }
          @if (!gogAuthenticated) {
            Not authenticated
          }
        }
      </div>
    </app-loaded-content>
  </ng-container>
  <ng-container buttons>
    <app-loaded-content [isLoading]="isLoading()">
      <ng-container placeholder>
        <app-loading-placeholder [widths]="['6rem']"/>
      </ng-container>

      @if (overview?.progress) {
        <app-progress-bar [percentage]="overview?.progress?.percentage ?? 0"/>
      }

      @if (overview?.progress) {
        <app-button [disabled]="true" buttonStyle="secondary" testId="stop-discovery-btn">
          Stop discovery
        </app-button>
      }

      @if (!gogAuthenticated && !overview?.progress) {
        <app-button [action]="openGogModal"
          buttonType="button" testId="show-gog-auth-modal-btn" buttonStyle="primary">
          Authenticate
        </app-button>
      }

      @if (gogAuthenticated && !overview?.progress) {
        <app-button [actionAsync]="onClickSignOutGog()" buttonStyle="danger" testId="log-out-gog-btn">
          Log out
        </app-button>
      }
    </app-loaded-content>
  </ng-container>
  <ng-container details>
    <app-loaded-content [isLoading]="isLoading()">
      <ng-container placeholder>
        <app-loading-placeholder [widths]="['20rem', '20rem', '20rem', '20rem', '20rem', '8rem']"/>
      </ng-container>

      @if (!overview?.progress) {
        <app-named-value-container>
          <app-named-value>
            <ng-container name>Last successful discovery stopped at</ng-container>
            @if (overview?.lastDiscoveryResult) {
              <ng-container value>
                {{ overview?.lastDiscoveryResult?.lastSuccessfulDiscoveryCompletedAt | date:'dd.MM.yyyy HH:mm:ss' }}
              </ng-container>
            }
            @if (!overview?.lastDiscoveryResult) {
              <ng-container value>
                N/A
              </ng-container>
            }
          </app-named-value>
          <app-named-value>
            <ng-container name>Last attempted discovery stopped at</ng-container>
            @if (overview?.lastDiscoveryResult) {
              <ng-container value>
                {{ overview?.lastDiscoveryResult?.stoppedAt | date:'dd.MM.yyyy HH:mm:ss' }}
              </ng-container>
            }
            @if (!overview?.lastDiscoveryResult) {
              <ng-container value>N/A</ng-container>
            }
          </app-named-value>
          <app-named-value>
            <ng-container name>Last discovery outcome</ng-container>
            <ng-container value>
              <app-game-content-discovery-outcome-badge [status]="overview?.lastDiscoveryResult?.discoveryOutcome"/>
            </ng-container>
          </app-named-value>
          <app-named-value>
            <ng-container name>Last games discovered</ng-container>
            @if (overview?.lastDiscoveryResult) {
              <ng-container value>
                {{ overview?.lastDiscoveryResult?.gamesDiscovered }}
              </ng-container>
            }
            @if (!overview?.lastDiscoveryResult) {
              <ng-container value>
                N/A
              </ng-container>
            }
          </app-named-value>
          <app-named-value>
            <ng-container name>Last game files discovered</ng-container>
            @if (overview?.lastDiscoveryResult) {
              <ng-container value>
                {{ overview?.lastDiscoveryResult?.gameFilesDiscovered }}
              </ng-container>
            }
            @if (!overview?.lastDiscoveryResult) {
              <ng-container value>
                N/A
              </ng-container>
            }
          </app-named-value>
        </app-named-value-container>
      }
      @if (overview?.progress) {
        <app-named-value-container>
          <app-named-value>
            <ng-container name>Games discovered</ng-container>
            <ng-container value>
              {{ overview?.progress?.gamesDiscovered }}
            </ng-container>
          </app-named-value>
          <app-named-value>
            <ng-container name>Game files discovered</ng-container>
            <ng-container value>
              {{ overview?.progress?.gameFilesDiscovered }}
            </ng-container>
          </app-named-value>
          <app-named-value>
            <ng-container name>Time left</ng-container>
            <ng-container value>
              <ng-container>
                {{ (overview?.progress?.timeLeftSeconds! * 1000) | date:'H:mm:ss':'UTC' }}
              </ng-container>
            </ng-container>
          </app-named-value>
        </app-named-value-container>
      }
    </app-loaded-content>
  </ng-container>
</app-icon-item>
