<app-loaded-content [isLoading]="gogIsLoading">
  <app-card cardTitle="GOG">
    <div class="badge-container">
      <p data-testid="gog-auth-status">
          <span class="badge"
                [ngClass]="{'bg-success': gogAuthenticated, 'bg-danger': !gogAuthenticated}">
            <i class="me-1"
               [ngClass]="{'bi bi-check-circle': gogAuthenticated, 'bi bi-x-circle': !gogAuthenticated}"
               aria-hidden="true">
            </i>

            <ng-container *ngIf="gogAuthenticated">Authenticated</ng-container>
            <ng-container *ngIf="!gogAuthenticated">Not authenticated</ng-container>
          </span>
      </p>
    </div>

    <ol *ngIf="!gogAuthenticated">
      <form [formGroup]="gogAuthForm" (ngSubmit)="authenticateGog()">
        <li>
          Press the button below to log in to GOG:
          <div class="button-container mb-3">
            <app-button [action]="showGogAuthPopup"
                        buttonType="button" testId="log-in-to-gog-btn" buttonStyle="primary">
              Log in to GOG
            </app-button>
          </div>
        </li>
        <li>
          Copy the URL you're redirected to and paste it below:
          <app-input formControlName="gogCodeUrl"
                     testId="gog-code-url-input"
                     type="text"
                     placeholder="URL">URL
          </app-input>
        </li>
        <li>
          Press the button below:
          <div class="button-container">
            <app-button buttonType="submit" testId="gog-authenticate-btn" buttonStyle="primary">
              Authenticate
            </app-button>
          </div>
        </li>
      </form>
    </ol>

    <div *ngIf="gogAuthenticated">
      <app-button [actionAsync]="signOutGog" buttonStyle="danger">Log out</app-button>
    </div>
  </app-card>
</app-loaded-content>
