@use "sass:map";
@import "bootstrap/basics";

:host {
  display: flex;
  align-items: center;
}

.value {
  display: flex;
  align-items: center;
  gap: map.get($spacers, 2);
  color: $text-secondary;
}
