@use "sass:map";
@import "bootstrap/basics";

$spacer-sm: map.get($spacers, 2);
$spacer-md: map.get($spacers, 3);
$icon-width-lg: 3.5rem;
$icon-width-md: 3rem;
$icon-width-sm: 2.75rem;

@mixin horizontal-line($width: 0) {
  content: "";
  border-top: 1px dashed $secondary;

  // Ensure width and margin never break if $width is 0
  $safe-width: if($width == 0, 0, $width / 2);

  margin-left: $safe-width;
  width: if($width == 0, 100%, calc(100% - #{$safe-width}));

  transition: opacity 0.2s ease;
}

:host {
  display: flex;
  flex-direction: column;
  gap: $spacer-md;

  .icon-text-and-buttons:not(:hover)::after{
    opacity: 0;
  }

  &.icon-item-lg > .icon-text-and-buttons::after{
    @include horizontal-line($icon-width-lg);
  }

  &.icon-item-md > .icon-text-and-buttons::after{
    @include horizontal-line($icon-width-md);
  }

  &.icon-item-sm > .icon-text-and-buttons::after {
    @include horizontal-line();
  }
}

.icon-text-and-buttons {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $spacer-md;

  .icon-and-text {

    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: $spacer-md;

    .icon-holder {
      position: relative;
      background-color: $secondary;
      border-radius: 0.5rem;

      &.icon-holder-lg {
        width: $icon-width-lg;
        height: $icon-width-lg;
      }

      &.icon-holder-md {
        width: $icon-width-md;
        height: $icon-width-md;
        background-color: unset;
        border: 1px solid $secondary;
        color: $secondary-text-emphasis;
      }

      &.icon-holder-sm {
        width: $icon-width-sm;
        height: $icon-width-sm;
        background-color: unset;
        color: $secondary-text-emphasis;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 125%;
      transition: color 0.2s ease-in-out;
    }

    .title {
      font-weight: $font-weight-medium;
      display: flex;
      align-items: center;
      gap: $spacer-sm;
    }
  }

  .buttons {
    display: flex;
    gap: $spacer-md;
    align-items: center;
  }

  &:hover {
    .icon {
      color: $primary;
    }
  }
}

.text-holder {
  .descriptor {
    color: $text-secondary;
  }
}

.details {
  padding-left: $spacer-md;
  display: flex;
  flex-direction: column;
  gap: $spacer-md;

  border-left: 1px solid $secondary;

  &.details-lg {
    margin-left: $icon-width-lg/2;
  }

  &.details-md {
    margin-left: $icon-width-md/2;
  }

  &.details-sm {
    margin-left: $icon-width-sm/2;
  }

}

.collapsible {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s ease,
  padding 0.2s ease,
  height 0.2s ease;

  // https://developer.chrome.com/blog/new-in-chrome-129#animate
  interpolate-size: allow-keywords;

  margin-bottom: -($spacer-md);
}

.collapsible.open {
  height: auto;
  opacity: 1;
  padding-bottom: $spacer-md;
}
