<div class="icon-text-and-buttons">
  <div class="icon-and-text">
    <div [ngClass]="['icon-holder', getIconSizeClass()]">
      <i [ngClass]="[iconClass, 'icon']" aria-hidden="true"></i>
    </div>
    <div class="text-holder">
      <div class="title">
        <ng-content select="[title]"/>
      </div>
      <div class="descriptor" #descriptorWrapper>
        <ng-content select="[descriptor]"/>
      </div>
    </div>
  </div>
  <div class="buttons" #buttonsWrapper>
    <app-button *ngIf="hideableDetailsExist" buttonType="button" [outline]="true" buttonClass="btn-icon-only"
                buttonStyle="secondary"
                [title]="showHideableDetails ? 'Hide details' : 'Show details'"
                [action]="toggleHideableDetailsAction">
      <i [ngClass]="['bi', showHideableDetails ? 'bi-chevron-up' : 'bi-chevron-down']"></i>
    </app-button>
    <ng-content select="[buttons]"/>
  </div>
</div>
<div class="details" *ngIf="detailsExist" #detailsWrapper>
  <div *ngIf="showHideableDetails" #hideableDetailsWrapper>
    <ng-content select="[hideableDetails]"/>
  </div>
  <ng-content select="[details]"/>
</div>

