@use "sass:map";
@use "bootstrap/basics" as basics;

$spacer-sm: map.get(basics.$spacers, 2);
$spacer-md: map.get(basics.$spacers, 3);

$icon-sizes: (
  lg: 3.5rem,
  md: 3rem,
  sm: 2.75rem
);

$lines-breakpoint: map.get(basics.$grid-breakpoints, sm);

@mixin horizontal-line($width: 0) {
  content: "";
  border-top: 1px dashed basics.$secondary;

  // Ensure width and margin never break if $width is 0
  @if $width == 0 {
    margin-left: 0;
    width: 100%;
  } @else {
    margin-left: calc($width / 2);
    width: calc(100% - $width / 2);
  }

  transition: opacity 0.2s ease;
}

:host {
  display: flex;
  flex-direction: column;
  gap: $spacer-md;

  @media (min-width: $lines-breakpoint) {
    .icon-text-and-buttons:not(:hover)::after {
      opacity: 0;
    }

    @each $size, $width in $icon-sizes {
      &.icon-item-#{$size} > .icon-text-and-buttons::after {
        @include horizontal-line($width);
      }
    }

    // Width override for small size
    &.icon-item-sm > .icon-text-and-buttons::after {
      @include horizontal-line();
    }
  }
}

.icon-text-and-buttons {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: $spacer-md;

  @media (min-width: $lines-breakpoint) {
    flex-wrap: wrap;
  }

  .icon-and-text {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: $spacer-md;

    .icon-holder {
      position: relative;
      border-radius: 0.5rem;
      background-color: basics.$secondary;

      @each $size, $width in $icon-sizes {
        &.icon-holder-#{$size} {
          width: $width;
          height: $width;
          min-width: $width;
          min-height: $width;

          @if $size == md {
            background-color: unset;
            border: 1px solid basics.$secondary;
            color: basics.$secondary-text-emphasis;
          }

          @if $size == sm {
            background-color: unset;
            color: basics.$secondary-text-emphasis;
          }
        }
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 125%;
      transition: color 0.2s ease-in-out;
    }

    .title {
      font-weight: basics.$font-weight-medium;
      display: flex;
      align-items: center;
      gap: $spacer-sm;
    }
  }

  .buttons {
    display: flex;
    gap: $spacer-md;
    align-items: center;
    justify-content: end;
  }

  &:hover {
    .icon {
      color: basics.$primary;
    }
  }
}

.text-holder {
  .descriptor {
    color: basics.$text-secondary;
  }
}

.details {
  padding-left: $spacer-md;
  display: flex;
  flex-direction: column;
  gap: $spacer-md;

  @media (min-width: $lines-breakpoint) {
    border-left: 1px solid basics.$secondary;

    @each $size, $width in $icon-sizes {
      &.details-#{$size} {
        margin-left: calc($width / 2);
      }
    }
  }
}

.collapsible {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, padding 0.2s ease, height 0.2s ease;

  // https://developer.chrome.com/blog/new-in-chrome-129#animate
  interpolate-size: allow-keywords;

  margin-bottom: -$spacer-md;

  &.open {
    height: auto;
    opacity: 1;
    padding-bottom: $spacer-md;
  }
}
