<div class="icon-text-and-buttons">
  <div class="icon-and-text">
    <div class="icon-holder">
      <i [ngClass]="[iconClass, 'icon']" aria-hidden="true"></i>
    </div>
    <div class="text-holder">
      <div class="title">
        <ng-content select="[title]"/>
      </div>
      <div class="descriptor">
        <ng-content select="[descriptor]"/>
      </div>
    </div>
  </div>
  <div class="buttons">
    <ng-content select="[buttons]"/>
  </div>
</div>
<div class="details">
  <ng-content select="[details]"/>
</div>

