@import "src/scss/bootstrap/basics";

:host {
  display: flex;
  flex-direction: column;
  gap: map_get($spacers, 3);
}

.icon-text-and-buttons {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: map_get($spacers, 3);

  .icon-and-text {

    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: map_get($spacers, 3);

    .icon-holder {
      position: relative;
      background-color: $secondary;
      border-radius: 0.5rem;

      &.icon-holder-lg {
        width: 3.5rem;
        height: 3.5rem;
      }

      &.icon-holder-md {
        width: 3rem;
        height: 3rem;
      }

      &.icon-holder-sm {
        width: 2.75rem;
        height: 2.75rem;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 125%;
      transition: color 0.2s ease-in-out;
    }

    .title {
      font-weight: $font-weight-medium;
      display: flex;
      align-items: center;
      gap: map_get($spacers, 2);
    }
  }

  .buttons {
    display: flex;
    gap: map_get($spacers, 3);
    align-items: center;
  }

  &:hover {
    .icon {
      color: $primary;
    }
  }
}

.text-holder {
  .descriptor {
    color: $text-secondary;
  }
}

.details {
  padding-left: map_get($spacers, 3);
  display: flex;
  flex-direction: column;
  gap: map_get($spacers, 3);
}

.collapsible {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    opacity 0.2s ease,
    padding 0.2s ease,
    height 0.2s ease;

  // https://developer.chrome.com/blog/new-in-chrome-129#animate
  interpolate-size: allow-keywords;

  margin-bottom: -(map_get($spacers, 3));
}

.collapsible.open {
  height: auto;
  opacity: 1;
  padding-bottom: map_get($spacers, 3);
}
