<app-section sectionTitle="Currently backing up" id="currently-downloading">
  <ng-container *ngIf="!currentDownload">
    Nothing is currently being backed up.
  </ng-container>
  <ng-container *ngIf="currentDownload">
    <app-table [content]="[currentDownload]" [isLoading]="currentDownloadIsLoading">
      <ng-template app-table-column="Game title" let-item>
        {{ asFileCopyWithContext(item)!.game.title }}
      </ng-template>
      <ng-template app-table-column="File name" let-item>
        {{ asFileCopyWithContext(item)!.gameFile.fileSource.fileTitle }}
        - {{ asFileCopyWithContext(item)!.gameFile.fileSource.originalFileName }}
      </ng-template>
      <ng-template app-table-column="Version" let-item>
        {{ asFileCopyWithContext(item)!.gameFile.fileSource.version }}
      </ng-template>
      <ng-template app-table-column="Size" let-item>
        {{ asFileCopyWithContext(item)!.gameFile.fileSource.size }}
      </ng-template>
      <ng-template app-table-column="Progress">
        <ng-container *ngIf="downloadProgress">
            <span class="progress">
              <!--/* //NOSONAR */--><div
              aria-valuemax="100" aria-valuemin="0" [attr.aria-valuenow]="downloadProgress.percentage"
              class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
              [ngStyle]="{width: downloadProgress.percentage + '%'}">{{ downloadProgress.percentage + '%' }}
            </div>
            </span>
          (time left: {{ (downloadProgress.timeLeftSeconds! * 1000) | date:'H:mm:ss':'UTC' }})
        </ng-container>
      </ng-template>
    </app-table>
  </ng-container>
</app-section>
