:root {
  --font-family: "Inter", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans",
  "Liberation Sans", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
  sans-serif;
  --primary-color: #FFC107FF;
  --secondary-color: #4A4021;
  --bg-color: #241F0F;
  --text-color: #FFFFFF;
  --text-secondary-color: #CCBD8F;
  --spacer: 1rem;
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --border-radius: 1rem;

  --accepted-color: #11b584;
  --superseded-color: #FD7E14;
  --deprecated-color: #ef5c5c;

  --callout-note-color: #1e90ff;
  --callout-warning-color: #FD7E14;
}

html {
  background-color: var(--bg-color);

  // noinspection CssNoGenericFontName
  font-family: var(--font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1320px;
  color: var(--text-color);
  -webkit-text-size-adjust: 100%;
  padding: 0 var(--spacer);
  padding-bottom: calc(var(--spacer) * 2);
}

* {
  box-sizing: border-box;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  padding: var(--spacer);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid var(--secondary-color);
  text-align: left;
  padding: 8px;
}

footer {
  text-align: center;
  color: var(--text-secondary-color);
  padding-top: calc(var(--spacer) * 2);
}

// Statuses

.status-accepted {
  color: var(--accepted-color);
}

.status-superseded {
  color: var(--superseded-color);
}

.status-deprecated {
  color: var(--deprecated-color);
}

// Callouts

.callout {
  border-left: 4px solid #888;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 4px;
}

.callout.note {
  --callout-color: var(--callout-note-color);

  background-color: color-mix(in srgb, var(--bg-color), var(--callout-color) 15%);
  border-color: var(--callout-color);
}

.callout.warning {
  --callout-color: var(--callout-warning-color);

  background-color: color-mix(in srgb, var(--bg-color), var(--callout-color) 15%);
  border-color: var(--callout-color);
}

.callout p {
  margin: 0.5rem 0;
}

// Pagefind

.pagefind-ui ::placeholder {
  opacity: 50% !important;
  color: var(--text-color) !important;
}

.search-bar {
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

// Mermaid

img[id^="mermaid-"] {
  width: 100%;
  height: auto;
}