<app-page-header title="Games">
  Here you can see the games that have been discovered.
</app-page-header>

<app-card>
  <div class="button-container mb-3">
    <app-button [actionAsync]="refresh" testId="refresh-games-btn" buttonStyle="secondary">Refresh</app-button>
  </div>
  <app-loaded-content [isLoading]="gamesAreLoading">
    <app-table *ngFor="let game of gameWithFilesPage?.content" [content]="{content: game.files ?? []}"
               [caption]="game.title">
      <ng-template app-table-column="File title" let-item>
        {{ asGameFile(item).gameProviderFile!.fileTitle }}
      </ng-template>
      <ng-template app-table-column="Version" let-item>
        {{ asGameFile(item).gameProviderFile!.version }}
      </ng-template>
      <ng-template app-table-column="Size" let-item>
        {{ asGameFile(item).gameProviderFile!.size }}
      </ng-template>
      <ng-template app-table-column="Status" let-item>
        <app-file-status-badge [status]="asGameFile(item).fileBackup!.status"></app-file-status-badge>
      </ng-template>
      <ng-template app-table-column="Actions" let-item>
        <div class="button-container">
          <ng-container [ngSwitch]="asGameFile(item).fileBackup.status">
            <app-button [actionAsync]="enqueueFileBackup(asGameFile(item))"
                        *ngSwitchCase="FileBackupStatus.Discovered"
                        testId="backup-file-btn"
                        buttonSize="small">
              <i class="bi bi-cloud-download" aria-hidden="true"></i>
              Back up
            </app-button>
            <app-button [actionAsync]="cancelBackup(asGameFile(item).id!)"
                        *ngSwitchCase="FileBackupStatus.Enqueued"
                        testId="cancel-file-backup-btn"
                        buttonStyle="secondary"
                        buttonSize="small">
              Cancel backup
            </app-button>
            <app-button [actionAsync]="viewError(asGameFile(item).id!)"
                        *ngSwitchCase="FileBackupStatus.Failed"
                        testId="view-error-btn"
                        buttonStyle="secondary"
                        buttonSize="small">
              <i class="bi bi-bug" aria-hidden="true"></i>
              View error
            </app-button>
            <ng-container *ngSwitchCase="FileBackupStatus.Success">
              <app-button [actionAsync]="download(asGameFile(item).id!)"
                          testId="download-file-backup-btn"
                          buttonSize="small">
                <i class="bi bi-download" aria-hidden="true"></i>
                Download
              </app-button>
              <app-button [actionAsync]="viewFilePath(asGameFile(item).id!)"
                          testId="view-file-path-btn"
                          buttonStyle="secondary"
                          buttonSize="small">
                <i class="bi bi-device-hdd" aria-hidden="true"></i>
                View file path
              </app-button>
              <app-button [actionAsync]="deleteBackup(asGameFile(item).id!)"
                          testId="delete-file-backup-btn"
                          buttonStyle="danger"
                          buttonSize="small">
                <i class="bi bi-trash" aria-hidden="true"></i>
                Delete backup
              </app-button>
            </ng-container>
          </ng-container>
        </div>
      </ng-template>
    </app-table>
  </app-loaded-content>
</app-card>
