<app-loaded-content [isLoading]="isLoading">
  <table [attr.data-testid]="testId" class="table table-custom-responsive-lg-down">
    @if (caption) {
      <caption>{{ caption }}</caption>
    }
    @if (templateRefs.length) {
      <thead>
        <tr>
          @for (columnTitle of getColumnTitles(); track columnTitle) {
            <th scope="col">
              {{ columnTitle }}
            </th>
          }
        </tr>
      </thead>
    }
    @if (groupedContent) {
      @for (group of groupedContent; track group) {
        <tbody>
          <tr class="caption">
            @if (group.caption) {
              <th scope="rowgroup" [attr.colspan]="getColumnTitles().length" class="group-caption">
                {{ group.caption }}
              </th>
            }
          </tr>
          @for (row of group.items; track row) {
            <tr>
              @for (columnContent of templateRefs; track columnContent; let i = $index) {
                <td [attr.data-title]="columnContent.columnTitle"
                  [ngClass]="getTdClass(columnContent)">
                  <ng-container
                  *ngTemplateOutlet="columnContent.template; context: { $implicit: row, index: i }"></ng-container>
                </td>
              }
            </tr>
          }
        </tbody>
      }
    } @else {
      <tbody>
        @for (row of content; track row) {
          <tr>
            @for (columnContent of templateRefs; track columnContent; let i = $index) {
              <td [attr.data-title]="columnContent.columnTitle"
                [ngClass]="getTdClass(columnContent)">
                <ng-container
                *ngTemplateOutlet="columnContent.template; context: { $implicit: row, index: i }"></ng-container>
              </td>
            }
          </tr>
        }
        @if (!content?.length) {
          <tr>
            <td [attr.colspan]="getColumnTitles().length" class="hide-title">No data</td>
          </tr>
        }
      </tbody>
    }
  </table>
</app-loaded-content>
