<app-loaded-content [isLoading]="isLoading">
  <table *ngIf="content?.content?.length" class="table table-custom-responsive-lg-down">
    <caption *ngIf="caption">{{caption}}</caption>
    <thead>
      <tr>
        <th *ngFor="let columnTitle of getColumnTitles()" scope="col">
          {{columnTitle}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of content?.content">
        <td *ngFor="let columnContent of templateRefs; let i = index" [attr.data-title]="columnContent.columnTitle"
            [ngClass]="getTdClass(columnContent)">
          <ng-container *ngTemplateOutlet="columnContent.template; context: { $implicit: row, index: i}"></ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</app-loaded-content>
