<app-page-header title="File discovery">
  Here you can manage all of the new files that have been found but have not yet been scheduled for download,
  as well as manually trigger file discovery.
</app-page-header>

<app-card>
  <app-loaded-content [isLoading]="infoIsLoading">
    <div class="badge-container">
      <ng-container *ngFor="let status of getStatuses()">
        <app-file-discovery-status-badge [status]="status"></app-file-discovery-status-badge>
      </ng-container>
    </div>
    <div class="badge-container">
      <app-new-discovered-files-badge [newDiscoveredCount]="newDiscoveredCount"
                                      [newestDiscovered]="newestDiscovered!">
      </app-new-discovered-files-badge>
    </div>

    <div class="button-container">
      <app-button [actionAsync]="startDiscovery()"
                  testId="discover-new-files-btn"
                  [disabled]="discoveryStateUnknown || discoveryOngoing()"
                  buttonClass="mt-2 me-1">
        Discover new files
      </app-button>

      <app-button [actionAsync]="stopDiscovery()"
                  testId="stop-file-discovery-btn"
                  [disabled]="discoveryStateUnknown || !discoveryOngoing()"
                  buttonClass="mt-2 me-1">
        Stop discovery
      </app-button>
    </div>

    <div class="button-container">
      <div *ngFor="let status of getStatuses()">
        <app-button [actionAsync]="discoverFilesFor(status.gameProviderId)"
                    testId="discover-new-files-btn"
                    [disabled]="discoveryStateUnknown || discoveryOngoing()"
                    buttonStyle="secondary"
                    buttonSize="small"
                    buttonClass="mt-2 me-3">
          Discover new files for {{ status.gameProviderId }}
        </app-button>
      </div>
    </div>

    <hr *ngIf="discoveryOngoing()">
    <ng-container *ngFor="let progress of getProgressList()">
      <div class="mt-2" *ngIf="isInProgress(progress.gameProviderId!)">
        {{ progress.gameProviderId }} (time left: {{ (progress.timeLeftSeconds! * 1000) | date:'H:mm:ss':'UTC' }}):
        <div class="progress">
          <!--/* //NOSONAR */--><div
            aria-valuemax="100" aria-valuemin="0" [attr.aria-valuenow]="progress.percentage"
            class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            [ngStyle]="{width: progress.percentage + '%'}">{{ progress.percentage + '%' }}
          </div>
        </div>
      </div>
    </ng-container>
  </app-loaded-content>
</app-card>

<app-card cardTitle="Discovered files">
  <div class="button-container mb-3">
    <app-button [actionAsync]="refreshDiscoveredFiles()"
                testId="refresh-discovered-files-btn"
                buttonStyle="secondary">
      Refresh
    </app-button>
  </div>

  <app-table [content]="discoveredFiles?.content" [isLoading]="filesAreLoading" [testId]="'discovered-files-table'">
    <ng-template app-table-column="Provider game title" let-item>
      {{ asGameFile(item).gameProviderFile!.originalFileName }}
    </ng-template>
    <ng-template app-table-column="File name" let-item>
      {{ asGameFile(item).gameProviderFile!.fileTitle }} - {{ asGameFile(item).gameProviderFile!.originalFileName }}
    </ng-template>
    <ng-template app-table-column="Version" let-item>
      {{ asGameFile(item).gameProviderFile!.version }}
    </ng-template>
    <ng-template app-table-column="Size" let-item>
      {{ asGameFile(item).gameProviderFile!.size }}
    </ng-template>
    <ng-template app-table-column="Actions"
                 hide-title-on-mobile
                 let-item>
      <div class="button-container justify-content-end">
        <ng-container *ngFor="let gameFile of [asGameFile(item)]">
          <app-button [actionAsync]="enqueueFile(gameFile)"
                      [disabled]="gameFile.fileBackup.status != FileBackupStatus.Discovered"
                      testId="back-up-btn">
            Back up
          </app-button>
        </ng-container>
      </div>
    </ng-template>
  </app-table>
  <app-pagination [disabled]="filesAreLoading"
                  [currentPage]="discoveredFiles"
                  [(pageNumber)]="discoveredFilesPageNumber"
                  [(pageSize)]="discoveredFilesPageSize"
                  (onPageChange)="refreshDiscoveredFiles()()"/>
</app-card>
