<app-page-header title="File discovery">
  Here you can manage all of the new files that have been found but have not yet been scheduled for download.
</app-page-header>

<div class="card mt-3">
  <div class="card-body">
    <div class="gutters-1">
      <app-file-discovery-status-badge [discoveryOngoing]="discoveryOngoing"></app-file-discovery-status-badge>
      <app-new-discovered-files-badge [newDiscoveredCount]="newDiscoveredCount"
                                      [newestDiscovered]="newestDiscovered">
      </app-new-discovered-files-badge>
    </div>

    <button (click)="discoverFiles()" class="btn btn-primary mt-2 me-3">Discover new files</button>
  </div>
</div>
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Discovered files</h2>
    <p>
      <button (click)="refresh()" class="btn btn-secondary">Refresh</button>
    </p>

    <app-table [columns]="columns" [content]="discoveredFiles" [isLoading]="filesAreLoading">
      <ng-template let-file>
        {{asFile(file).gameTitle}}
      </ng-template>
      <ng-template let-file>
        {{asFile(file).name}}
      </ng-template>
      <ng-template let-file>
        {{asFile(file).size}}
      </ng-template>
      <ng-template let-file>
        <button (click)="enqueueFile(asFile(file).uniqueId)" class="btn btn-primary">Enqueue</button>
      </ng-template>
    </app-table>
  </div>
</div>
