<app-page-header title="File discovery">
  Here you can manage all of the new files that have been found but have not yet been scheduled for download.
</app-page-header>

<div class="card mt-3">
  <div class="card-body">
    <div class="gutters-1">
        <app-file-discovery-status-badge [discoveryOngoing]="discoveryOngoing"></app-file-discovery-status-badge>
        <app-new-discovered-files-badge [newDiscoveredCount]="newDiscoveredCount"
                                        [newestDiscovered]="newestDiscovered">
        </app-new-discovered-files-badge>
    </div>

    <button class="btn btn-primary mt-2 me-3" (click)="discoverFiles()">Discover new files</button>
  </div>
</div>
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Discovered files</h2>
    <p>
      <button class="btn btn-secondary" (click)="refresh()">Refresh</button>
    </p>

    <app-loaded-content [isLoading]="filesAreLoading">
      <table class="table table-custom-responsive-lg-down" *ngIf="discoveredFiles?.content?.length">
<!--        <caption>Discovered files</caption>-->
        <thead>
        <tr>
          <th scope="col">Game title</th>
          <th scope="col">File name</th>
          <th scope="col">Size</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let file of discoveredFiles?.content">
          <td data-title="Game title">
            {{file.gameTitle}}
          </td>

          <td data-title="File name">
            {{file.name}}
          </td>

          <td data-title="Size">
            {{file.size}}
          </td>

          <td class="hide-title actions">
            <button (click)="enqueueFile(file.uniqueId)" class="btn btn-primary">Enqueue</button>
          </td>
        </tr>
        </tbody>
      </table>
    </app-loaded-content>
  </div>
</div>
