name: Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - 'docs/**'
      - '**.md'

env:
  JAVA_VERSION: '25-ea'
  JAVA_DISTRIBUTION: temurin
  MAVEN_CACHE_PATH: ~/.m2

jobs:
  build:
    name: Build & test (unit, integration, architectural, mutation)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          cache: maven

      - name: Build, test (unit, integration, architectural, mutation) and prepare files for Sonar analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        # mvn install instead of verify for sonar-fork-analysis to work
        run: mvn -B install -Pfrontend-pre-sonar -Ppitest-new-code -Ppitest-strict

      - name: Upload files for Sonar analysis
        uses: ./.github/actions/sonar-fork-analysis
        with:
          additional-folders: frontend/src/main/angular/coverage

      - name: Upload application jar
        uses: actions/upload-artifact@v5
        with:
          name: app-jar
          path: backend/target/*.jar

  e2e:
    needs: build
    name: End-to-End Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          cache: maven

      - name: Download application jar
        uses: actions/download-artifact@v6
        with:
          name: app-jar
          path: backend/target

      - name: Start Docker containers
        working-directory: docker/e2e
        run: ./start-containers-safely.sh

      - name: Configure Playwright
        working-directory: e2e
        run: sudo mvn exec:java -e -D exec.mainClass=com.microsoft.playwright.CLI -D exec.args="install-deps"

      - name: Start application
        run: java -jar ./backend/target/*.jar --spring.profiles.active=dev,dev-provider-api &

      - name: Wait for application to start
        run: |
          echo "Waiting for the application to start..."
          while ! nc -z localhost 8080; do
            sleep 1
          done
          echo "Application is up and running!"

      - name: Run E2E tests
        working-directory: e2e
        run: mvn test -Dheadless=true