@import "src/scss/bootstrap/basics";

$sidebar-width: 200px;
$sidebar-width-minimized: 47px;

:host {
  background: $dark;

  display: block;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
  width: 9999px;
  transition: all 0.3s;
  overflow-x: hidden;
  user-select: none;

  nav {
    width: $sidebar-width;
    min-width: $sidebar-width;

    a {
      display: flex;
      padding: 15px;
      width: 100%;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      .bi {
        margin-right: map_get($spacers, 2);
      }
    }
  }

  .link-title {
    transition: opacity 0.3s;

    // Ellipsis:
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.hidden {
    min-width: 0;
    max-width: $sidebar-width-minimized;
    width: auto;

    .link-title {
      opacity: 0;
    }
  }
}
