@import "src/scss/bootstrap/basics";

$sidebar-width: 200px;
$sidebar-width-minimized: 47px;
$animation-time: 0.3s;
$link-padding: map_get($spacers, 3);
$hover-background: tint-color($dark, $btn-hover-bg-tint-amount);

:host {
  background: $dark;
  width: $sidebar-width;
  min-width: $sidebar-width;
  transition: all $animation-time;
  overflow-x: hidden;

  // Don't allow selecting text
  user-select: none;

  nav {
    width: $sidebar-width;

    a {
      display: flex;
      padding: $link-padding;
      width: 100%;

      &:hover {
        background-color: $hover-background;
      }

      .bi {
        margin-right: map_get($spacers, 2);
      }
    }
  }

  .link-title {
    transition: opacity $animation-time;

    // Ellipsis:
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    // END Ellipsis
  }

  &.minimized {
    width: $sidebar-width-minimized;
    min-width: $sidebar-width-minimized;

    .link-title {
      opacity: 0;
    }
  }
}
